@media(max-width:1024px) {
    .mob-header {
        display: block
    }

    .bottom-head,
    .mid-head {
        display: none
    }

    .sticky-menu {
        display: table
    }

    .hero-s .item {
        padding: 45px 50px
    }

    .hero-s .item .i-img img {
        margin: 0 auto
    }
}

@media(max-width:991px) {
    .container {
        width: 100%
    }

    .wrapper {
        overflow-x: hidden
    }

    .hero-s .item .i-img {
        width: 30%
    }

    .hero-s .item .i-img img {
        width: 250px;
        height: 250px
    }

    .hero-s .item .i-data {
        width: 66%;
        padding-top: 5%
    }

    .hero-s .item .i-data h3 {
        font-size: 30px
    }

    .hero-s .item .i-data span {
        letter-spacing: 0;
        font-size: 25px
    }

    .hero-s .item {
        height: 350px
    }

    .main-footer .f-top .f-item img {
        /* display: none */
    }

    .main-footer .ocean {
        /* display: none */
    }

    .main-footer {
        background: #252525
    }

    .main-footer .f-top .f-item:last-of-type {
        /* display: none */
    }

    .cat-sidebar .widget {
        position: relative;
        z-index: 7;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .17);
        border-radius: 10px;
        padding: 30px;
        margin-top: 2px;
        display: none
    }

    .cat-sidebar {
        margin-bottom: 50px
    }

    .cat-box {
        padding: 0
    }

    .jumpo h3 {
        display: block
    }

    .jumpo ul {
        float: none;
        margin-top: 10px
    }

    .op-filter {
        display: block
    }

    /**********************************************************************/
    .h-slider-conn {
        padding: 0 15px;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        display: block;
    }

    .h-categories .col-md-3 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }

    .n-products .g-body .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media(max-width:768px) {
    .main-footer {
        padding-bottom: 90px
    }

    .main-footer .f-bottom {
        padding: 0
    }

    .main-footer .f-top {
        padding-bottom: 10px
    }

    .toTop {
        bottom: 100px
    }

    .product-top .prod-data {
        padding: 30px 0 0 0
    }

    .product-top .prod-data .social a {
        display: block;
        margin: 0 0 10px 0
    }

    /*************************************************************/
    .h-categories .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 7px;
    }

    .n-products .g-body .col-sm-3 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }

    .features-all .features-block {
        width: 50%;
        padding: 10px 15px;
    }

    .features-all .features-block .icon-block {
        width: 36px;
    }

    .home-services .g-body .col-sm-3,
    .h-supplier .g-body .col-sm-2 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }

    .slider-inner {
        height: 400px;
    }

    .h-features {
        padding: 10px 0 30px;
    }

    .categories-blocks h4 a {
        font-size: 15px;
        height: 18px;
    }

    .category-links ul li a {
        font-size: 13px;
    }

    .h-categories {
        padding-bottom: 10px;
    }

    .n-products {
        padding: 25px 0 10px;
    }

    .h-banner-ad,
    .request-grid .request-image,
    .product-grid .product-image {
        height: 240px;
    }

    .home-banner-ad1 {
        padding: 10px 0 40px;
    }

    .suppliers {
        padding: 10px 0 0px;
    }

    .services {
        padding: 40px 0 15px;
    }

    .main-footer .f-top .f-item {
        padding: 10px 10px;
    }

    .main-footer .f-top .f-item h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .main-footer .f-top .f-item .social-f {
        margin-bottom: 20px;
    }
    .modal-dialog {
        margin: 30px auto;
    }
    .service-wrap,
    .reqs-wrap,
    .sign-wrap {
        padding: 45px 0;
    }
    .box-filter {
        text-align: center;
    }
    .reqs-wrap.reqs-single .req-comments .req-head {
        margin-bottom: 20px;
    }
    .reqs-wrap.reqs-single .req-comments .req-head h3 {
        font-size: 21px;
    }
    .reqs-wrap.reqs-single .req-form {
        margin-bottom: 33px;
    }
    .btn {
        font-size: 15px;
        line-height: 38px;
    }
}

@media(max-width:600px) {
    .top-head .left-un .wel-msg {
        display: none
    }

    .mob-header {
        padding: 15px 0
    }

    .top-head .right-un .h-links {
        display: none
    }

    .hero-s .item {
        height: auto;
        padding: 40px 20px
    }

    .hero-s .item .i-img img {
        height: 150px
    }

    .sticky-menu a span {
        font-size: 8px
    }

    .sticky-menu a .badgo {
        right: 25%;
        top: 5px
    }

    .all .slider .item-box {
        height: 350px
    }

    .all .slider-two .item {
        height: 60px
    }

    .all .slider-two:hover .left-t {
        left: 0
    }

    .all .slider-two:hover .right-t {
        right: 0
    }

    .all .slider-two {
        padding: 0 50px
    }

    .g-head h3 {
        font-size: 23px
    }

    .g-head a {
        float: none;
        display: block;
        margin: 10px 0 0 0;
        text-align: center
    }

    .about-wrap .ab-img img {
        height: 150px;
        margin-bottom: 30px
    }

    .reqs-wrap .block .inner .item {
        height: 250px
    }

    .reqs-wrap .block .inner .author img {
        width: 35px;
        height: 35px;
        margin-right: 5px
    }

    .reqs-wrap .block .inner .author a {
        font-size: 14px
    }

    .reqs-wrap .block .inner .time {
        padding-top: 8px
    }

    .reqs-wrap .block .inner .time span {
        font-size: 14px
    }

    .reqs-wrap .block .inner .title a {
        font-size: 14px
    }

    .prod-extra {
        position: relative;
        margin: 10px 0;
    }

    .reqs-wrap .block .inner .extra .social {
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, .1);
        border-radius: 10px;
        margin-bottom: 20px;
        bottom: auto !important
    }

    .reqs-wrap .block .inner .extra .social a {
        display: block;
        margin: 0 0 7px 0
    }

    .reqs-wrap .block .inner .extra .social a:last-of-type {
        margin: 0
    }

    .reqs-wrap .block .inner .extra .btn {
        display: block;
        font-size: 13px
    }

    .reqs-wrap .block {
        padding: 10px 5px
    }

    .add-req-wrap .form-group .s-item {
        padding: 0;
        margin-bottom: 15px
    }

    .fav-wrap .nav-tabs {
        margin-bottom: 30px
    }

    .supp-cover {
        height: 200px
    }

    .supp-data .supp-img {
        width: 130px;
        height: 130px;
        float: none;
        margin: -70px auto 20px
    }

    .supp-bottom {
        padding: 0 15px
    }

    .supp-data {
        width: 100%;
        margin-bottom: 20px
    }

    .supp-data .supp-l {
        text-align: center
    }

    .supp-btns a {
        display: block;
        margin: 0 0 10px
    }

    .supp-btns {
        width: 100%
    }

    .supp-prof-inner {
        padding: 50px 0
    }

    .supp-prof-about .nav-tabs {
        margin-bottom: 30px
    }

    .supp-prof-about .tab-content {
        padding: 0
    }

    .branch-o h4 .btn {
        display: block;
        float: none;
        margin: 15px 0 0
    }

    .supp-prof.comp-prof {
        padding: 50px 0
    }

    .comp-prof .supp-data .supp-img {
        margin-bottom: 0
    }

    .comp-prof .supp-data .supp-l {
        padding-top: 20px
    }

    .comp-prof .supp-btns {
        padding: 0
    }

    .supp-prof.comp-prof.us-profile {
        padding-bottom: 0
    }

    .supp-prof-about .pr-item {
        padding: 0
    }

    .tab-pane .fav-wrap .g-head .nav-tabs li {
        display: inline-block;
        margin: 0 0 0 10px
    }

    .tab-pane .fav-wrap .g-head .nav-tabs li a {
        font-size: 13px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px
    }

    .tab-pane .fav-wrap .g-head .nav-tabs li:last-child {
        margin: 0
    }

    .tab-pane .form-group .ito {
        padding: 10px 0
    }

    .supp-card {
        padding: 30px 0
    }

    .modal-dialog {
        margin: 40px 15px
    }

    .modal-open .modal {
        padding: 0 !important
    }

    .sign-wrap form {
        max-width: 100%;
        padding: 0 10px
    }

    .sign-wrap.sup-wrap form {
        max-width: 100%
    }

    .sign-wrap.sup-wrap form .ito-h .form-group {
        padding: 0
    }

    .sign-wrap.sup-wrap form .ito-h .prof-img {
        height: 200px
    }

    .sign-wrap.sup-wrap form .ito-h .prof-img label i {
        font-size: 19px
    }

    .sign-wrap.sup-wrap form .ito-h .prof-img label span {
        font-size: 13px
    }

    .sign-wrap.sup-wrap form .ito-h .prof-img.pic {
        margin: -40px auto 0;
        width: 130px;
        height: 130px
    }

    .dashb {
        padding: 50px 0
    }

    .dashb .block .inner a {
        padding: 20px
    }

    .dashb .block {
        padding: 10px;
        width: 50%;
        max-width: 50%
    }

    .dashb .row {
        margin: 0
    }

    .dashb .block .inner img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px
    }

    .dashb .block .inner h3 {
        font-size: 13px
    }

    /***************************************************************/
    .home-services .g-body .col-sm-3,
    .h-supplier .g-body .col-sm-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .slider-inner {
        height: 300px;
    }

    .n-products .g-body .col-sm-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .btn.h-request-btn,
    .btn.h-pro-btn,
    .btn.h-offers-btn,
    .home-services .btn {
        padding: 7px 7px;
        font-size: 12px;
    }

    .product-grid {
        margin: 0 0 22px;
    }
    .h-categories .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    .product-middle {
        padding: 30px 0 0;
    }
    .product-table-p {
        padding: 30px 0;
    }
    .product-middle .nav-tabs {
        margin-bottom: 20px;
    }
    .product-wrap {
        padding: 40px 0 10px;
    }
    .reqs-wrap.reqs-single .block {
        margin-bottom: 15px;
    }
    .reqs-wrap .block .inner .time{
        float: unset !important;
    }
    .reqs-wrap .cardo .c-inner {
        float: unset !important;
        display: block;
    }

}


@media(max-width:500px) {
    .features-all .features-block {
        width: 100%;
    }

    .g-head h3 {
        font-size: 18px;
    }

    .features-all {
        border-radius: 10px;
        padding: 10px 0;
    }

    .sticky-menu a {
        line-height: .9;
    }

    .top-head .right-un .social a {
        display: inline-block;
        padding: 6px 12px;
    }

    .h-supplier-box {
        margin: 55px 0 15px;
    }

    .main-footer .f-top {
        padding: 0px 0 20px 0;
    }

    .f-logo-item {
        text-align: center;
        margin: 0 auto;
    }

    .main-footer .f-top .f-item img {
        width: 250px;
    }

    .main-footer .f-top .f-item {
        padding: 7px 0px;
    }

    .main-footer .f-bottom p {
        color: #fff;
        margin-top: 5px;
    }

    .main-footer {
        padding-bottom: 77px;
    }

    .toTop {
        font-size: 13px;
        background-color: #282828bd;
        height: 40px;
        line-height: 40px;
        width: 40px;
    }

    .h-offers {
        margin-bottom: 15px;
        padding: 30px 0 0px;
        margin-top: 20px;
    }

    .cardo .c-inner .c-data .title {
        font-size: 17px;
    }

    .h-banner-ad,
    .request-grid .request-image,
    .product-grid .product-image {
        height: 220px;
    }


}
